.contact-page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  gap: 2rem;
  width: 50%;
  align-self: center;
  margin: 0 auto;
}
.priv-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  align-self: center;
  margin: 0 auto;
}
.main-title-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 5%;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
}
.socials :not(.socials-label) {
  color: #6d21c4;
}

.socials :not(.socials-label):hover {
  text-decoration: underline;
}

.socials-label {
  font-weight: bold;
}
.contact-page-wrapper > p {
  margin-bottom: 0;
}
.ant-form {
  width: 40%;
}

@media (max-width: 560px) {
  .contact-page-wrapper {
    margin: 0 0;
    width: 100%;
    padding: 1rem;
  }
  .main-title-contact {
    font-size: 3.5rem;
  }
  .contact-page-wrapper > p {
    width: 90%;
  }
  .ant-form {
    width: 90%;
  }
}
