.contact-page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  gap: 2rem;
  width: 50%;
  align-self: center;
  margin: 0 auto;
}
.socials {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 5%;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
}
.socials :not(.socials-label) {
  color: #6d21c4;
}

.socials :not(.socials-label):hover {
  text-decoration: underline;
}

.socials-label {
  font-weight: bold;
}

.ant-form {
  width: 40%;
}
