.contact-row {
  justify-content: space-around;
}
.contact-col > img {
  width: 2.5rem;
  height: 2.5rem;
}
.text-info {
  font-size: 1.15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-col-buttons {
  justify-self: flex-end;
}
.contact-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.contact-button {
  width: 20px;
  height: 20px;
}
.contact-added {
  /* background-color: rgb(12, 117, 12); */
  color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 5%;
}
.contact-added.animate {
  animation: fadeOut 1s linear 2s 1;
}

.done-add-button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 576px) {
  .contact-col.col-sm-2 {
    width: 17%;
  }
  .contact-col.col-7 {
    width: 50%;
  }
  .text-info {
    font-size: 100%;
  }
}
