.footer-container {
  display: flex;
  width: 50%;
  justify-content: center;
}
.footer-labels {
  color: #6d21c4;
  text-decoration: none;
}
.footer-labels:hover {
  text-decoration: underline;
  cursor: pointer;
}
