:root {
  --primary: #5978fe;
  --secondary: #a457fe;
  --danger: #d14ea5;
  --info: #fce9fd;
  --warning: #7132bf;
  --light: #fdb0fe;
  --dark: #3204a3;
}
@font-face {
  font-family: "Apple";
  src: url("/public/SFUIText-Regular.otf");
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--info) !important;
}

.main-title {
  font-family: "Roboto";
  font-weight: 100;
}
#root {
  height: 100vh;
  width: 100%;
}
.user-banner {
  top: 2%;
  left: 1%;
}
.user-banner.welcome {
  font-size: 1.5em;
  color: var(--primary);
  font-weight: bold;
  font-family: "Roboto";
}
.bodysec {
  border-radius: 0.75rem;
  border: var(--warning) 1.5px solid;
  box-shadow: 0px 0px 10px var(--secondary);
}
.tools-col {
  position: relative;
}
.tools-col::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  height: calc(80%);
  border-right: 1px solid #a457fe;
  margin-left: 1%;
}
.tools-title {
  font-family: "Roboto";
  text-shadow: 0 0 1px var(--dark);
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: white;
  border-radius: 1rem 1rem 0 0;
  vertical-align: middle;
  height: 5vh;
  width: 100%;
  border: 2px solid #7132bf;
  border-top: 0;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.highlighted-tab {
  background-color: #6d21c4;
}
.tabs > p {
  display: flex;
  margin-bottom: unset;
  height: 100%;
  font-size: 150%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  align-self: center;
  cursor: pointer;
}
.home-lock {
  font-size: 100%;
  display: flex;
  justify-content: center;
}
.texters {
  border-radius: 50%;
  width: 24px;
  height: 100%;
}
.texters:hover {
  cursor: pointer;
}
.chat-wrapper {
  height: 450px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-left: 0;
}

input[type="file"] {
  cursor: pointer;
}
.texters {
  flex-direction: column;
}

.texters-col {
  grid-template-rows: auto max-content max-content;
  justify-items: center;
}
.plus,
.delete,
.edit {
  animation: pulse 2s infinite;
}

.chat-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  font-family: "Apple", sans-serif;
}
.add-user-form {
  background-color: #f2f1f6;
  z-index: 2;
}
.pfp-div {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  /*background-color: #fefefe;*/
}
.pfp-div > img {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.add-photo-label {
  color: #017afe;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.add-photo-label > span:hover {
  text-decoration: underline;
}
.users-extension {
  display: flex;
  flex-direction: column;
  flex-wrap: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-bottom: 0.5rem;
}
.users-extension > .text-icon-div {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  overflow-y: scroll;
  max-height: 500px;
}

body ::-webkit-scrollbar {
  display: block;
  border-radius: 1rem;
  width: 3px !important;
  z-index: 1;
}
body ::-webkit-scrollbar-track {
  background-color: transparent;
}
body ::-webkit-scrollbar-thumb {
  background-color: #bec4c8;
  border-right: none;
  border-left: none;
  border-radius: 3px;
}
body ::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}
body ::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 15px;
}
.users-extension > .text-icon-div.select {
  animation: select 2s infinite;
}
.opacity-100 {
  opacity: 100;
}
.opacity-0 {
  opacity: 0;
}
.text-icon-div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.portraits {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div > .portraits > img,
.portraits > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.button-div {
  display: grid;
  grid-template-rows: 50% 50%;
}
.button-div > .portraits {
  margin: unset;
  height: 100%;
}
#plus,
#delete {
  width: 1.5vw;
  height: 1.5vw;
}
.contact-input-groups {
  height: 6vh;
  border-bottom: 2px solid #eeeef1;
}
.contact-input-fields {
  height: 100%;
  outline: none;
  border: none;
}
.contact-input-groups > input::placeholder {
  font-family: "Apple";
  font-size: 1rem;
}
.react-tel-input {
  font-family: "Apple" !important;
  border-bottom: 2px solid #eeeef1;
}
.react-tel-input .form-control {
  padding: 2.483% 2.879% 2.483% 15.054% !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem !important;
  border-radius: 0 !important;
  border: unset !important;
  border-bottom: 2px solid #eeeef1;
}
.react-tel-input .form-control:focus {
  border: unset !important;
  box-shadow: unset !important;
}
.contacts-page {
  background-color: #f2f1f6;
  z-index: 5;
  overflow: auto;
}
/*Contacts styles*/
.contact-row {
  height: 12%;
  flex-direction: row;
}

.contact-pfp {
  height: 2.5vw;
  width: 2.5vw;
  object-fit: cover;
  border-radius: 50%;
}

.indicator {
  border: 1.5px solid #4b8afa;
  box-shadow: 0px 0px 4px 1px #7132bf;
}
.speaker-indicator {
  border: 1.5px solid var(--danger);
  box-shadow: 0px 0px 4px 1px #7132bf;
}

.custom-checkbox-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.custom-checkbox-label {
  animation: pulse 2s infinite;
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
}
.fa-download {
  color: var(--dark);
  font-size: 1.5rem;
}
.fa-download.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.custom-checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background-color 0.1s;
}

.custom-checkbox-input:checked + .custom-checkbox-label::before {
  background-color: var(--danger);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="white"><path d="M20.285 2l-11.285 11.567-3.286-3.011-5.714 6.443 9 8.001 18-18-7.715-5z"/></svg>'); /* This is a checkmark icon */
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox-label:hover::before {
  border-color: #007bff;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.info-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 2%;
  background-color: var(--dark);
  color: var(--info);
  border-radius: 50%;
  font-weight: 500;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-style: italic;
  padding-right: 0.25rem;
}
.info-div:hover {
  cursor: pointer;
}
.info-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  right: 6%;
  top: 4%;
  width: 500px;
  height: fit-content;
  border: 2px solid var(--warning);
  z-index: 50;
  background-color: var(--info);
  color: #350968;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  padding: 1.25rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  transition: all 150ms ease-in-out;
}
#known-issues {
  text-decoration: underline;
  color: var(--dark);
}
#known-issues:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .pfp-div {
    width: 7.5rem;
    height: 7.5rem;
  }
  .info-card {
    width: 100%;
    right: 0;
    top: 5%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100% !important;
    justify-content: center;
  }
  .bodysec {
    width: 100% !important;
  }
  .chatwrap-wrapper {
    height: 100vh;
    justify-content: center !important;
  }
  .chat-wrapper {
    height: 100% !important;
    margin: 0 !important;
    width: 75% !important;
  }
  .text-icon-div > div,
  .text-icon-div > i,
  .right-side-div,
  .right-side-div > div,
  .right-side-div > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px !important;
    height: 24px !important;
    font-size: 16px !important;
  }
  .portraits.draggable,
  .portraits.draggable > img {
    width: 6vw !important;
    height: 6vw !important;
  }
  .home-lock > .h5 {
    font-size: 130% !important;
  }
}
@media (min-width: 691px), (max-width: 767px) {
  .bodysec {
    width: 100% !important;
  }
}
@media (min-width: 767px) {
  .tabs > p {
    font-size: 90%;
  }
  .right-side-div,
  .right-side-div > div,
  .right-side-div > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1rem !important;
  }
  .fa-download {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .tabs.home-lock > p {
    font-size: 1.5rem;
  }
  .tabs > p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1150px) {
  .bodysec {
    width: 75% !important;
  }
  .tabs > p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1400px) {
  .tabs > p {
    font-size: 1.5rem;
  }
  .tabs.home-lock > p {
    font-size: 1.1rem;
  }
  .right-side-div,
  .right-side-div > div,
  .right-side-div > i {
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1550px) {
  .tabs.home-lock > p {
    font-size: 1.25rem;
  }
}
/*Pulse animation for plus button*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes select {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--dark);
  }
}
