.cell-reception-tool {
  height: 100%;
  width: 60%;
}
.cell-bars-div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
  align-items: flex-end;
}
.signal-bar {
  width: 0.5rem;
  background-color: black;
  opacity: 0.5;
  transition: all 150ms ease-in-out;
}
.full-opacity {
  opacity: 1;
}
.cell-1 {
  height: 0.3rem;
}
.cell-2 {
  height: 0.6rem;
}
.cell-3 {
  height: 1rem;
}
.cell-4 {
  height: 1.5rem;
}
.cell-5 {
  height: 2rem;
}
